body {
   background-image: url('Matrix.gif');
    text-align:center
   
    }
  

    h1 {
    text-decoration: underline;
    text-align:center ;
    color: yellowgreen;
    border-color: azure;
    border-spacing: 20px;
    font-size: xx-large;
    
    
    
  }
    p {
    color: red;
  }
    a {
    
      opacity: 100%;
      border-spacing: 1px;
     color: yellowgreen;
     
    
    }
     td1 {
      text-align: center;
      border: 1px solid;
      border-color:rgb(157, 255, 0);
      padding: 5px;
      background-color: purple;
      opacity: 95%;


  }
    .center {
      margin-left:auto;
      margin-right:auto;
    }
   p3 {
    text-align: center;
    font-size:100px;
    opacity: 95%;
   }
   h6{
    text-align: center;
   }